<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relaciones ManyToOne</title>
  </head>
  <body>
        <h1>Listado de Departamentos</h1>
        <table>
        	<thead><tr>
        		<th>ID</th><th>Nombre<th>Editar</th><th>Borrar</th></tr>
        	</thead>
        	<tbody>
        		<tr th:each="departamento : ${listaDepartamentos}">
        			<td th:text="${departamento.id}">Id</td>
        			<td th:text="${departamento.nombre}">nombre</td>
              <td><a th:href="@{/depto/edit/{id}(id=${departamento.id})}">Editar</a></td>        		
              <td><a th:href="@{/depto/delete/{id}(id=${departamento.id})}">Borrar</a></td>        		
        		</tr>
        	</tbody>
        </table>
        <p th:if="${msg!=null}">
          <span th:text="${msg}">err</span>
        </p>
      </div>
      <a th:href="@{/depto/new}">Nuevo Departamento</a><br/>
	  <a th:href="@{/}">Inicio</a><br/>
    </div>
  </body>
</html>