<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gatitis</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <p>En estas páginas veremos gatitos graciososos</p>
    <a href="/funnycats">Gatitos graciosos</a>
    <a href="/galeria">Galería de fotos</a>
    <a href="/enlaces">Enlaces</a>
  </body>
</html>
