<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.htymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
  </head>
  <body>
    <h1>Listado de numeros   aleatorios</h1>
    <table th:style="${numero<0} ? 'display:block':'display:none'">
      <thead>
        <th>Numero</th>
        <th>Operación</th>
      </thead>
      <tbody>
        <tr th:each="numero : ${listaNumeros}">
          <td th:classappend="${numero>50}?'highNumber':'lowNumber'" th:text="${numero}">*</td>
          <td>
            <a th:href="@{/delete/{id}(id=${numero})}">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    Total números: <span th:text="${cantidadTotal}">0</span><br />
    <a th:href="@{/new}">Nuevo número</a><br />
  </body>
</html>