<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <html xmlns:th="http://www.thymeleaf.org" />
    <title>Gatitos</title>
  </head>
  <body>
    <h1>Gatitos graciosos</h1>
    <p>¡Mira estas imágenes de gatitos graciosos!</p>
    <menu>
      <a th:href="@{/home}">Inicio</a>
      <a th:href="@{/funnycats}">Gatitos graciosos</a>
      <a th:href="@{/galeria}">Galería de fotos</a>
    </menu>
  </body>
</html>
