<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Listado de productos</h1>
    Seleccione moneda: 
    <a th:href="@{/setMoneda/EUR}">EURO</a></li>
    <a th:href="@{/setMoneda/GBP}">LIBRA</a>
    <a th:href="@{/setMoneda/USD}">DOLAR</a><br/><br/> 
    <p>Lista de productos</p>
    <p>Los precios se muestran en: <span th:text="${moneda}">Moneda Actual</span></p>
</body>
</html>

