<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testing Empleado CRUD</title>
  </head>
  <body>
          <h1>Listado de empleados</h1>
          <table>
            <thead>
              <tr>
                <th>ID</th><th>Nombre</th><th>Email</th><th>Salario</th><th>Borrar</th></tr>
            </thead>
            <tbody>
              <tr th:each="empleado : ${listaEmpleados}">
                <td th:text="${empleado.id}">Id</td>
                <td th:text="${empleado.nombre}">nombre</a></td>
                <td th:text="${empleado.email}">email@mail.com</td>
                <td th:text="${empleado.salario}">0</td>
                <td><a th:href="@{/borrar/{id}(id=${empleado.id})}">Borrar</a></td>        		
              </tr>
            </tbody>
          </table>
          <p h:if="${msg!=null}">
            <span th:text="${msg}">err</span>
          </p>    
        <a th:href="@{/nuevo}">Nuevo empleado</a><br/><br/>
  </body>
</html>