<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Galería - Stan Wawrinka</title>
</head>
<body>
  <h1>Galería de fotos</h1>

   <th:block th:insert="~{fragmentos.html :: menu}"></th:block>

  <img src="/rafa-nadal-stan-wawrinka.avif" alt="Stan Wawrinka 1" width="500">
  <img src="/ghows-LK-2fcfff25-0803-4f2c-9f93-5c8f9c9c35d1-734c1921.webp" alt="Stan Wawrinka 2" width="500">
  <img src="/Stanislas_Wawrinka_Wimbledon_2013.jpg" alt="Stan Wawrinka 3" width="500">
  <img src="/Stan-Wawrinka-us-open.webp" alt="Stan Wawrinka 4" width="500">

  <img src="/34705676-14eb-4ae0-b7be-84bbf7144fa0.jpeg" alt="Stan Wawrinka 5" width="500">
  <img src="/wawrinka-050615.jpg" alt="Stan Wawrinka 6" width="500">
  <img src="/wawrinka-cincinnati-2023-tuesday.jpg" alt="Stan Wawrinka 7" width="500">
  <img src="/stan-wawrinka-puedo-sentir-que-algunas-cosas-estan-volviendo-lentamente-a-su-lugar.webp" alt="Stan Wawrinka 8" width="500">

  <img src="/3454252-70470208-2560-1440.jpg" width="500">
  <img src="/stan-wawrinka-sobre-roger-federer-le-debo-mucho-solo-puedo-darle-las-gracias.webp" alt="Stan Wawrinka 10" width="500">
  <img src="/wawrinka-djokovic-roland-garros-2015-embrace.jpg" alt="Stan Wawrinka 10" width="500">
  <img src="/160912134357-wawrinka-gesture.jpg" width="500">
  
</body>
</html>

