<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div id="container">
    <header>
        <h1>Página de inicio</h1>
        <nav th:fragment="menu" th:remove="tag">
          <ul>
              <li><a th:href="@{/}">Inicio</a><br /></li>
              <li><a th:href="@{/quienesSomos}">Quiénes somos</a></li>
              <li><a th:href="@{/dondeEstamos}">Dónde estamos</a></li>
              <li><a th:href="@{/nuevaPestaña}">Nueva pestaña</a></li>
          </ul>
        </nav>
    </header>
    <main>
        <p>Fecha actual:<span th:text="${fechaActual}">2024-12-31</span></p>
    </main>
</div>
</body>

</html>