<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{/fragmentos.html::cabecera}"></head>
<body>
      <nav th:replace="~{/fragmentos.html::mainMenu}"></nav>
      <h1>Usuarios</h1>
      <table border="1">
        <thead>
          <tr><th>Id</th><th>Nombre</th><th>Rol</th>
            <th>Editar</th><th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="usuario : ${listaUsuarios}">
            <td th:text="${usuario.id}">Id</td>
            <td th:text="${usuario.nombre}">Nombre</td>
            <td th:text="${usuario.rol}">Rol</td>
            <td><a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">Editar</a></td>        		
            <td><a th:href="@{/usuarios/borrar/{id}(id=${usuario.id})}">Borrar</a></td> 
          </tr>
        </tbody>
      </table>
      <a th:href="@{/usuarios/nuevo}">Nuevo usuario</a><br/>
      <a th:href="@{/}">Inicio</a><br/>
    </body>
</html>